.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#cards{
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  place-items: center;
  place-content: center;
}
#title{
  font-family: pokemon_hollownormal;
  font-size: 3rem;
  margin-left: 10px;
  margin: 0 auto;
}
#top-header{
  display:flex;
  align-items: center;
}
#score{
  position:fixed;
  right: 0px;
  text-align:right;
}
#description{
  text-align: start;
  margin-left: 10px;
  text-align: center;
}

@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('./fonts/pokemon_hollow-webfont.woff2') format('woff2'),
       url('./fonts/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}